html {
  height: 100%;
  width: 100%;
}

.drop, .no-drop{
  border: solid;
  width: 30%;
  height: 400px;
  margin: 10px;
}

#boxes {
  display: flex;
}

#subtract-savings, #savings-isa {
  display: none;
}


body, h1, h2, h3, p, button {
  margin: 0;
  padding: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header, main, footer {
  text-align: center;
  /* padding: 30px; */
}

button { 
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 50px;
  /* transition: background-color 0.3s ease; */
  margin: 10px;
  display: block;
  text-decoration: none;
}

.main-btn {
  text-align: center;
  margin: 10px auto;
}

.main-btn a {
  text-decoration: none;
}

button:hover, a:hover {
  background-color: #EE1C2E;
  text-decoration: none;
}

#quiz-puzzle, .home-btn, #budget-puzzle {
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* #questions {
  font-size: 20px;
  padding: 10px 30px;
  text-align: center;
  background-color: blue;
  color: aliceblue;
} */

#box-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#treasure-box, #open-box {
  height: 300px;
  margin: 20px;
}

#open-box {
  display: none;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 250px;
  margin: 10px;
}

#quiz-puzzle, #unlock, .home-btn {
  margin-top: 25px;
  display: block;
}

#budget-puzzle {
  margin-bottom: 25px;
}

#money-things {
  column-count: 3;
  column-fill: balance;
  padding-left: 2px;
  width: 95%
}